@import "https://s.kontur.ru/common-v2/fonts/labgrotesque/labgrotesque.css";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #b1a793;
    font-family: Lab Grotesque, sans-serif;
}

.page-title {
    color: rgba(58, 43, 12, 0.8);
    font-size: clamp(10px, 10vw, 285px);
    text-align: center;
}

.cards-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 32px;
    overflow: auto;
    padding: 0 32px;
    padding-top: 100px;
    padding-bottom: 70px;
    animation: fadeIn 0.2s 0.4s ease both;
    scroll-snap-type: x mandatory;
    scrollbar-color: #514327 transparent;
}

.cards-list > * {
    scroll-snap-align: center;
    scroll-margin-left: 100px;
}

.card {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 350px;
    height: 470px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: white;
    color: #222222;
    /* ухты! */
    box-shadow: 0px 6.48px 2.54px 0px rgba(0, 0, 0, 0.0383),
    0px 17.91px 7.01px 0px rgba(0, 0, 0, 0.055),
    0px 43.11px 16.88px 0px rgba(0, 0, 0, 0.0717),
    0px 143px 56px 0px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    transition: 0.2s ease;
}



.card:hover .card__cover {
    filter: brightness(98%) contrast(0.95);
}

.card:active .card__cover {
    filter: brightness(90%) contrast(0.9);
}



.card__image {
    max-width: 280px;
    pointer-events: none;
    user-select: none;
}

.card__header {
    margin-bottom: 12px;
    color: var(--color-primary);
    font-size: 35px;
    line-height: 1.3;
}

.card__short-description {
    align-self: flex-end;
    text-align: center;
    animation: fadeIn 0.2s 0.15s ease both;
}

.card__description {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    line-height: 1.19;
}

.card_active {
    flex-basis: 700px;
}

.card__cover {
    width: 350px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: var(--color-secondary);
    text-align: center;
    animation: coverOut 0.2s ease both;
}

.card_active .card__cover {
    border-top-right-radius: initial;
    border-bottom-left-radius: inherit;
    animation: coverIn 0.2s ease both;
}

.card_active .card__short-description {
    display: none;
}

.card__full-description {
    visibility: hidden;
    max-width: 0;
    margin-left: 0;
    transition: 0.2s ease both;
}

.card_active .card__full-description {
    margin-left: 300px;
    max-width: 100%;
    visibility: visible;
    padding: 30px 40px;
    font-size: 18px;
    line-height: 1.3;
    transition: 0.2s ease;
    animation: fadeIn 0.2s 0.1s ease both;
}

.card_active .card__section {
    animation: fadeIn 0.2s 0.2s ease both;
}

.card__fullname {
    color: var(--color-primary);
}

.card__section {
    margin-bottom: 14px;
}

.card__subheader {
    display: inline-block;
    margin: 0 0 4px;
    padding: 0;
}

.card__subheader:after {
    content: ":";
}

.card__superpowers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__superpowers li {
    display: inline-block;
    margin: 0;
    padding: 4px 6px;
    border-radius: 5px;
    background: var(--color-secondary);
    color: var(--color-primary);
    white-space: nowrap;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(50%, -20%, 0);
    }

    25% {
        opacity: 0.35;
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0%, -15%, 0);
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate3d(0%, 0%, 0);
    }
}

@keyframes coverIn {
    0% {
        width: 350px;
        height: 160px;
    }

    50% {
        width: 350px;
        height: 100%;
    }

    100% {
        width: 300px;
        height: 100%;
    }
}

@keyframes coverOut {

    0% {
        width: 300px;
        height: 100%;
    }

    50% {
        width: 350px;
        height: 100%;
    }

    100% {
        width: 350px;
        height: 160px;
    }
}
