@import "https://s.kontur.ru/common-v2/fonts/labgrotesque/labgrotesque.css";

/* Сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #222;
    --color-secondary: #dadada;

    --color-text: #222;
    --color-bg: #b1a793;
    --color-card-bg: white;
}

body {
    display: flex; /* для выравнивания по центру */
    min-height: 100vh; /* занимаем весь экран */

    align-items: center; /* выравнивание по вертикали */

    /* обнуляем отступы */
    /* todo рассказать про reset и normalize */
    margin: 0;
    padding: 120px 0;

    background: var(--color-bg);
    font-family: "Lab Grotesque", sans-serif;
}

.card-list-wrapper {
    margin: 0 auto; /* центрируем по горизонтали блочный элемент */
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 48px;
    padding: 0 80px;

    animation: fadeOut 0.8s 0.3s ease both;
    /*scroll-snap-type: x mandatory;*/
    /*scrollbar-color: #514327 transparent;*/
}

/*.cards-list > * {*/
/*    scroll-snap-align: center;*/
/*    scroll-margin-left: 100px;*/
/*}*/

.card {
    position: relative;
    flex-shrink: 0; /* запретить сжатие */

    width: 400px;
    height: 470px;

    cursor: pointer;
    transition: width 0.2s ease;
}

.card__wrapper {
    border-radius: 20px;
    background: white;
    color: var(--color-text);
    overflow: hidden;

    /* размеры на весь контейнер */
    width: 100%;
    height: 100%;

    position: relative;

    box-shadow: 0 20px 4px 0 rgba(0, 0, 0, 0.04),
    0 40px 16px 0 rgba(0, 0, 0, 0.08),
    0 80px 48px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    /*transition: 0.2s ease;*/
}
.card__wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 150px;
    background: var(--color-secondary);

    transition: filter 0.2s ease;

    /*animation: coverIn 0.2s ease both;*/
}
.card:hover .card__wrapper:after,
.card:hover .card__image {
    filter: brightness(98%) contrast(0.98);
}
.card:active .card__wrapper:after,
.card:active .card__image {
    filter: brightness(95%) contrast(0.98);
}
.card_active .card__wrapper:after {
    /*top: 0;*/
    /*left: 0;*/

    height: 100%;
    width: 360px;

    /* Анимация исчезания подложки */
    animation: coverOut 0.8s ease both;
}

.card__image {
    width: 280px;
    height: 356px;

    max-width: 440px;
    max-height: 560px;

    pointer-events: none;
    user-select: none;

    position: absolute;

    top: -103px;
    left: 60px;
    transform: translate(0, 0);

    transition: filter 0.2s ease,
                transform 0.5s ease 0.32s;
}
.card_active .card__image {
    transform: translate(-20px, 160px) scale(1.25714);
}

.card__short-description-block {
    text-align: center;
    padding: 0 40px;

    margin-top: 250px;

    animation: fadeIn 0.4s 0.5s ease both;
}
.card_active .card__short-description-block {
    /* todo Мешает анимации */
    display: none;
}

.card__header {
    color: var(--color-primary);
    font-size: 40px;
    line-height: 48px; /* !! todo почему не другие единицы, ответить !! */
}

.card__description {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
}
.card__header + .card__description {
    margin-top: 16px;
}

.card_active {
    /*width: 840px;*/ /* перенесли в анимацию */
    /* Анимация расширения карточки */
    animation: cardWideIn 0.5s ease both 0.32s; /* задержка 40% от 0.8 = 0.32s */
}



.card__full-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;

    /*padding: 48px 56px;*/

    visibility: hidden;
    /*transition: 0.2s ease both;*/

    /* Обнуление стилей */
    max-width: 0;
    margin-left: 0;
    padding: 48px 0;
}

.card_active .card__full-description {
    margin-left: 360px;
    max-width: 100%;
    visibility: visible;
    padding: 48px 56px;

    /*transition: 0.2s ease;*/
    /*animation: fadeIn 0.2s 0.1s ease both;*/
}

/*.card_active .card__section {*/
/*    animation: fadeIn 0.2s 0.2s ease both;*/
/*}*/

.card__fullname {
    color: var(--color-primary);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.card__section + .card__section {
    margin-top: 12px;
}

.card__subheader {
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.card__subheader:after {
    content: ":";
}

.card__superpowers {
    list-style: none;

    font-size: 0;
    line-height: 0;

    margin: -4px;
    padding-top: 8px;
}
.card__superpowers li {
    display: inline-block;

    font-size: 16px;
    line-height: 18px;

    margin: 4px;

    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-secondary);
    color: var(--color-primary);
    white-space: nowrap;
}


/*@keyframes fadeInLeft {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translate3d(50%, -20%, 0);*/
/*    }*/

/*    25% {*/
/*        opacity: 0.35;*/
/*    }*/

/*    100% {*/
/*        opacity: 1;*/
/*        transform: translateZ(0);*/
/*    }*/
/*}*/

/* Анимация расширения карточки */
@keyframes cardWideIn {
    0% {
        width: 400px;
    }

    100% {
        width: 840px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0%, -15%, 0);
    }

    15% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate3d(0%, 0%, 0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translate3d(0%, 15%, 0);
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate3d(0%, 0%, 0);
    }
}

/* Анимация исчезания подложки сверху */
@keyframes coverOut {
    0% {
        width: 100%;
        height: 150px;
    }
    40% {
        width: 100%;
        height: 0;
    }

    /* Незаметно перемещаем её вбок */

    /* для этого прячем */
    40.1% {
        opacity: 0;
    }
    /* перемещаем */
    40.2% {
        width: 0;
        height: 100%;
    }
    /* а потом показываем */
    40.3% {
        opacity: 1;
    }

    /* анимируем движение уже слева направо */
    100% {
        width: 360px;
        height: 100%;
    }
}

/*@keyframes coverIn {*/

/*    0% {*/
/*        width: 300px;*/
/*        height: 100%;*/
/*    }*/

/*    50% {*/
/*        width: 350px;*/
/*        height: 100%;*/
/*    }*/

/*    100% {*/
/*        width: 100%;*/
/*        height: 150px;*/
/*    }*/
/*}*/

.storm {
    --color-primary: #513E30;
    --color-secondary: #f6eee4;
}
.shadow {
    --color-primary: #585F44;
    --color-secondary: #e4e2d2;
}
.fox {
    --color-primary: #97451A;
    --color-secondary: #fcefd7;
}
.phoenix {
    --color-primary: #a6321f;
    --color-secondary: #f4ddd2;
}
.omega {
    --color-primary: #bf4423;
    --color-secondary: #ffe9d1;
}
.shearwater {
    --color-primary: #804428;
    --color-secondary: #f3ede2;
}

/*
  todo задания
  - Сделать тёмную тему
  - Реализовать другую версию макетов
*/
